.header, .footer {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #000;
}
.header {
    font-size: 2rem;
}
.footer {
    font-size: 0.8rem;
}
.main {
    background-image: url(../../public/bl.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    
}
.cryptoCard {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 9px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.458);
    background-color: #FFF;
   
}
.cryptoImage {
    padding-bottom: 1vh;
    height: 5rem;
    width: 5rem;
}
.coinName{
    text-transform: capitalize;
}
.coinSymbol {
    color: rgba(0, 0, 0, 0.397);
    text-transform: uppercase ;
}
.coinPrice {
    padding-top: 2vh;
}


@media only screen and (min-width: 992px) {
    .cryptoCard {
        margin: 2rem 35vw;
    }
    .footer {
        font-size: 2rem;
    }
}