.header, .footer {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #000000b6;
    backdrop-filter: blur(5px);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.849);
}
.header {
    font-size: 2rem;
}
.footer {
    font-size: 0.8rem;
}
.main {
    background-image: url(../../public/bl.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(128, 128, 128, 0.466);
    background-blend-mode: multiply;
    
}
.cryptoCard {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 9px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.458);
    background-color: #FFF;
   
}
.coinCardHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.coinInfo {
    display:flex;
}
.coinTitles {
    display: flex;
    justify-content: center ;
    flex-direction: column;
}
.coinRank {
    justify-content: end;
    color: rgba(0, 0, 0, 0.397);
}
.cryptoImage {
    padding-bottom: 1vh;
    height: 5rem;
    width: 5rem;
}
.coinName{
    text-transform: capitalize;
}
.coinSymbol {
    padding-top: 1vh;
    color: rgba(0, 0, 0, 0.397);
    text-transform: uppercase ;
}
.coinPrice {
    padding-top: 2vh;
}
.coinMax, .coinLow {
    padding-top: 2vh;
   color:  rgba(0, 0, 0, 0.397);
}
.coinName, .coinSymbol, .coinPrice, .coinMax, .coinLow {
    padding-left: 1vw;
}
.cryptoCardFooter {
    display: flex;
    justify-content: space-between;
}


@media only screen and (min-width: 992px) {
    .cryptoCard {
        margin: 2rem 35vw;
    }
    .footer {
        font-size: 1.5rem;
    }
}